.layout {
  display: flex;
  flex-direction: row;
  height: 100vh;
}

.header {
  padding: 20px;
  background: #f8f9fa;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.sidebar {
  background: #efefef;
  padding: 20px;
  width: 250px;
  overflow-y: auto;
  position: fixed;
  top: 60px;
  bottom: 0;
}

.content {
  margin-left: 270px;
  margin-top: 60px;
  padding: 20px;
  padding-bottom: 40px; /* Extra padding at the bottom */
  overflow-y: auto;
  width: calc(100% - 270px);
}

.results {
  margin-top: 20px;
}

.finalMessage {
  margin-bottom: 20px; /* Spacing below the final message */
  /* Add any additional styling for the final message here */
}

/* Existing responsive styles */
@media (max-width: 768px) {
  .sidebar,
  .content {
    width: 100%;
    margin-left: 0;
    padding: 10px;
    position: static;
  }

  .header {
    position: static;
  }

  .content {
    margin-top: 0;
  }
}

/* Additional styles */
